article,
aside,
details,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

@font-face {
    font-family: 'Graphik Web Regular';
    src: url('../Graphik-Regular.otf') format('opentype');
}


:root {
    --background: #fff;
    --text: #111111;
    --text-mid: #333333;
    --text-mid-low: #444444;
    --text-low: #555555;
    --line: #999999;
    --f-size: 1rem;
    --scale-s: 0.8;
    --scale-m: 0.96;
    --scale-ml: 0.995;
    --scale-l: 1.2;
    --scale-xl: 1.55;
    --max-width: 560px;
    --line-height-th-content: 1.935;
    --photo-height: 100vh;
}

@media (min-width: 250px) {
    :root {
        --f-size: 1.05rem;
        --max-width: 560px;
    }
}

@media (min-width: 500px) {
    :root {
        --f-size: 1.075rem;
        --max-width: 590px;
    }
}

@media (min-width: 1000px) {
    :root {
        --f-size: 1.115rem;
        --max-width: 610px;
    }
}

@media (min-width: 1500px) {
    :root {
        --f-size: 1.15rem; 
        --max-width: 640px;
    }
}

@media (min-width: 2000px) {
    :root {
        --f-size: 1.25rem;
        --max-width: 710px;
    }
}

@media (min-width: 2250px) {
    :root {
        --f-size: 1.35rem;
        --max-width: 760px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --text: #C7C8CA;
        --text-mid-low: #a2a2a2;
        --text-mid: #a4a6a8;
        --text-low: #737476;
        --line: #656565;
    }
}

::selection {
    background: var(--text);
    color: var(--background);
}

body {
    line-height: 1.8;
    display: flex;
    justify-content: center;
    font-family: "Graphik Web Regular", "Iowan Old Style", "Iowan", "Charter", "Palatino Linotype", "Palatino", "Book Antiqua", "Palatino LT STD", Times New Roman, serif;
    font-size: var(--f-size);
    color: var(--text);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-kerning: normal;
}

p {
    margin: 0;
    padding: 0;
    font-size: calc(var(--f-size) * var(--scale-s));
    color: var(--text-low);
    margin: 2rem 0;
}

.wrap {
    position: relative;
    width: 90%;
    max-width: var(--max-width);
    margin: 5vw;
}

a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 1px solid var(--line);
}

a:hover {
    border-bottom: 1px solid var(--text);
}

.a-undecorated {
    color: var(--text-low);
    text-decoration: none !important;
    border-bottom: none;
}

.a-undecorated:hover {
    color: var(--text);
    border-bottom: none;
}

.a-disabled {
    pointer-events: none;
}

.home-icon-circle {
    background-color: #FF4F00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
